<div class="footer">
    <div class="footer-content">
        <a href="{{site.url}}"><img class="footer-logo" src="{{ '/assets/images/logo_gold.png' | prepend: site.baseurl }}" alt="Logo of {{ site.title }}"/></a>
        <div class="vspace-sm-fixed"></div>
        <i class="fa fa-map-marker"></i>&nbsp;&nbsp;Atlanta, GA 30308, USA.
        <div>Copyright &copy; 2021 | <a href="http://vis.gatech.edu/" target="_blank">Georgia Tech Visualization Lab</a> | <a href="https://www.ic.gatech.edu/" target="_blank">School of Interactive Computing</a> | <a href="https://www.cc.gatech.edu/" target="_blank">College of Computing</a> | <a href="https://www.gatech.edu/" target="_blank">Georgia Tech</a>
        </div>
        <div class="vspace-sm-fixed"></div>
        <div>
            <a href="https://twitter.com/{{site.twitter.username}}" target="_blank"><i class="fa fa-twitter"></i></a>
            &nbsp;<a href="{{site.github}}" target="_blank"><i class="fa fa-github"></i></a>
        </div>
    </div>
</div>