/* News and Events Section */
.twitter-container {
    background: #FFFFFF;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.16), 0px 0px 8px rgba(0, 0, 0, 0.08);
    padding: 24px;
}

#news .collapsed {
    display: -webkit-box !important;
    -webkit-line-clamp: 3 !important;
    -webkit-box-orient: vertical !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

.news-item {
    min-height: 241px;
    transition: all 0.1s ease;
    padding: 30px;
    padding-bottom: 0;
    margin-bottom: 36px;
    background: #FFFFFF;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.16), 0px 0px 8px rgba(0, 0, 0, 0.08);
}

.news-item .thumbnail {
    background: #FFFFFF;
    /* box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.16), 0px 0px 8px rgba(0, 0, 0, 0.08); */
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.news-item .title {
    font-family: 'Bai Jamjuree', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 1em;
    color: #161614;
    opacity: 0.8;
}

.news-item p {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    line-height: 1.5em;
    color: #3F3E3B;
}

.news-item .description {
    display: none;
}

.news-item:hover {
    outline: 2px solid #F0B310;
    /* transform: translateY(-8px); */
    box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.16), 0px 0px 16px rgba(0, 0, 0, 0.08);
    cursor: pointer;
}

.active-news-item {
    height: auto;
    outline: 2px solid #F0B310;
    transform: translateY(-8px);
    box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.16), 0px 0px 16px rgba(0, 0, 0, 0.08);
    cursor: pointer;
}

@media screen and (max-width: 1000px) {

    .news-card:nth-child(2) {
        margin-top: 0px;
    }

    .news-card:nth-child(odd) {
        margin-top: 0px;
    }

    .news-card:nth-child(1) {
        margin-top: 0px;
    }

    #news p {
        line-height: 2em;
    }

    #news .collapsed {
        display: -webkit-box !important;
        -webkit-line-clamp: 4 !important;
        -webkit-box-orient: vertical !important;
        overflow: hidden !important;
        text-overflow: ellipsis !important;
    }

}